.menu-container {
  width: 50%;
  margin: 10px auto;
  height: auto;
}

.menu-nav {
  display: flex;                       
  padding-left: 0;                     
  list-style-type: none;
}

.menu-nav > li {
  margin-top: 0;
  margin-left: 50px;
 }

 .menu-nav > li > a  {
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin-left: 77px;
    padding: 10px;
    margin: 10px;
  }

