.title-container {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    height: auto;
  }
  
  .title-message {
      font-size: 55px;
      font-weight: bold;
      color: #564b4b;
  }
  