.category-container {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
}

.category-header {
    width: 100%;
    height: 20px;
    margin-bottom: 50px;
}

.category-section {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}