
.section-container {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
    border: seagreen 1px solid;
    line-height: 9;
    border-radius: 10px;
}