.footer-container {
    background-color: #131720;
    width: 100%;
    height: 50px;
    padding-top: 25px;
}

.footer-content {
    font-size: 13px;
    font-weight: bold;
    color: #999999;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}